@page "/activos"

<h1>Ingresos / Gastos Fijos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Concepto</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
           </tr>

        </tbody>
    </table>

    <button>Agregar</button>

