<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MisCuentas</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Mis Cuentas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deducibles">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Deducibles
            </NavLink>
        </div>
        <!-- PAGINAS DE PRUEBA PARA RECOLOCAR DESPUES-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="balanceGeneral">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Balances
            </NavLink>
        </div>
    </nav>
</div>
