@page "/facturas"

<h1>Factura</h1>

<div>
    <table>
        <thead>
        <th>Archivo</th>
        </thead>
        <tbody>
            <tr>
                <td>.pdf</td>
            </tr>
            <tr>
                <td>.xml</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h6>Tipo de deducible</h6>
    <span>Barra de opciones</span>
</div>

<div class="container">
    <div class="column">Periodo</div>
    <div class="column">Año</div>
</div>

<button>Agregar</button>

@code {
    
}
